name: Test

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: macos-latest
    
    steps:

    - name: Import Code-Signing Certificates
      uses: Apple-Actions/import-codesign-certs@v1
      with:
        p12-file-base64: ${{ secrets.MACOS_CERTIFICATE }}
        p12-password: ${{ secrets.MACOS_CERTIFICATE_PWD }}
    - uses: actions/checkout@v4
    
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
    
    - name: Build and test
      run: |
        xcodebuild test \
          -project ClaudeNein.xcodeproj \
          -scheme ClaudeNein \
          -destination 'platform=macOS,arch=x86_64' \
          -configuration Debug \
          -enableCodeCoverage YES
